* {
    margin: 0;
}

#backimg {
    height: 100vh;
    width: 100vw;
    background: url(/googleformproject/images/5084510.jpg);
    background-size: cover;
}

#googleimg {
    background-image: url(/googleformproject/images/maingoogle.svg);
    background-size: cover;
    height: 120px;
    width: 370px;
    position: absolute;
    left: 550px;
    top: 250px;
    /* background-color: aliceblue; */
}

.inputbox {
    position: absolute;
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
    height: 50px;
    width: 600px;
    background-color: white;
    left: 450px;
    bottom: 270px;
    border-radius: 20px;
    z-index: 1;
}

.search {
    position: absolute;
    background-image: url(/googleformproject/images/search.png);
    left: 10px;
    background-size: cover;
    height: 30px;
    width: 30px;
    z-index: 5;
}

.text1 {
    position: relative;
    left: 40px;
    border: none;
    font-size: 20px;
    height: 35px;
    width: 430px;
    outline: none;
}

.img1 {
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    width: 25px;
    left: 75px;
}

.img2 {
    position: relative;
    left: 100px;
    display: flex;
    align-items: center;
    height: 25px;
    width: 25px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100px;
    /* border: 2px solid black; */
    bottom: 130px;
}

#fixbox {
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    /* border: 2px solid black; */
    height: 112px;
    width: 112px;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 2ms;
    transition-timing-function: ease-in;
    /* transition-delay: 2s; */

}
#fixbox:hover {
    position: relative;
    height: 100px;
    width: 100px;
    background-color:lightsteelblue;
}
.title{
    position: relative;
    height: 10px;
    top: 20px;
    right: 77px;
}